/* ======== ESTILO GENERAL ======== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #e8f1f8;
    margin: 0;
    padding: 20px;
}

/* ======== CONTENEDOR ======== */
.container {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: auto;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}


/* ----------------------------------------------------------
   LOGO 
-----------------------------------------------------------*/
/* CUADRO DEL LOGO */
.logo-box {
    width: 100%;
    height: 120px;

    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

/* LOGO GRANDE Y CENTRADO */
.logo-box img {
    height: 170px;
    width: 170px;
}

/* ======== TITULOS ======== */
h2 {
    text-align: center;
    color: #0a4fa3;
    margin-bottom: 20px;
}

/* ======== FORMULARIO ======== */
label {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #bbb;
    margin-bottom: 18px;
    font-size: 15px;
}

/* ======== BOTONES ======== */
button {
    width: 100%;
    padding: 14px;
    border: none;
    gap: 10px;
    background: #0a4fa3;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #083d82;
}

/* ======== TARJETA DE RESULTADOS ======== */
.result-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.result-box p {
    font-size: 16px;
    margin: 8px 0;
}

.result-box strong {
    color: #0a4fa3;
}

/* ======== RESPONSIVE ======== */
@media (max-width: 500px) {

    body {
        padding: 10px;
    }

    .container {
        padding: 18px;
        border-radius: 12px;
    }

    h2 {
        font-size: 22px;
    }

    input {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 15px;
        padding: 12px;
    }

    .result-box p {
        font-size: 15px;
    }
}


.fila{
    display: flex;
    gap: 10px;
}




